<style>
    form.one-time-donation {
        display: block;
        padding: 2rem;
        border: 1px solid #6cbcf5;
        border-radius: 4px;
        margin: 3rem 0;
        background: rgb(243,255,254);
        background: linear-gradient(42deg, rgba(243,255,254,1) 0%, rgba(192,232,227,1) 100%);
    }

    .one-time-donation input,
    .one-time-donation select {
        padding: 1rem;
        border: none;
        box-shadow: inset 0px 0px 15px -4px #92969a;
        font-size: 1rem;
        border-radius: 3px;
    }

    .one-time-donation input[type="submit"] {
        margin-top: 2rem;
    }

    .one-time-donation input[type="number"] {
        width: 100%;
        font-size: 2rem;
        text-align: center;
        margin: 0 1rem;
        background: #f7fffe;
        padding-left: 3rem;
    }

    .currency-symbol {
        font-size: 2.3rem;
        position: absolute;
        top: 0.75rem;
        left: 3rem;
        color: grey;
    }

    .accepted-payments img {
        height: 35px;
    }

</style>

<form class="one-time-donation" action="{{ .Site.BaseURL }}php/mollie-one-time-donation.php" method="post">

    <h3 style="margin-top: 0"> One-time donation</h3>

    <div class="row">
        <div class="col-md-8">
            <p>One-time donations will take you to the Mollie payment portal. Donations are done in euros as that provides the most payment options.</p>
        </div>
        <div class="col-md-4" style="margin-bottom: 2rem; position: relative">
            <span class="currency-symbol" >&euro;</span>
            <input class="donation_amount" type="number" value="10" name="donation_amount" />
        </div>
    </div>

    <div class="accepted-payments">
        <strong>Accepted payment methods:</strong><br/>
        <img src="images/one-time-donations/credit-cards.png" />
        <img src="images/one-time-donations/paypal.png" />
        <img src="images/one-time-donations/eps.png" />
        <img src="images/one-time-donations/banconctact.png" />
        <img src="images/one-time-donations/iDEAL.png" />
        <img src="images/one-time-donations/sofort.png" />
    </div>

    <input type="submit" value="Donate" name="submit" class="one-time-donate-button" />


</form>

