<style>
    .shop-price {
        font-weight: bold;
        margin: 1rem 0;
    }
</style>

<div class="row">
    <div class="col-md-4">
        <div style="background: url({{ .Get "image" }}); 
            width: 100%; 
            height: 100%; 
            background-size: cover;"></div>
    </div>

    <div class="col-md-8">
        <h3 style="margin-top: 0">{{ .Get "title" }}</h3>
        
        <div>{{ .Get "description" | markdownify }}</div>
        
        <div class="shop-price">{{ .Get "price" }}</div> 

        <a href="{{ .Get "buyUrl" }}" class="button">{{ .Get "buyText" }}</a>
    </div>

</div>



