{{ partial "header.html" . }}

<style>

  a.result {
    text-decoration: none;

  }
  a.result:hover {
    background: #faf7f7;
    border-radius: 5px;
  }

  .results-card {
    padding: 2rem;
    margin-bottom: 2rem;
  }

  .results-card h2 {
    margin: 0;
    margin-bottom: 0.5rem;
  }

#search-input {
  padding: 0.5rem;
  border: 1px solid #0792b2;
  border-radius: 3px;
  font-size: 1.2rem;
  margin: 0 1rem;
}

</style>

<h1 style="margin-top: 2rem">{{ i18n "navigation.recent_posts" }}</h1>

{{ .Content }}

<h1 style="margin-bottom: 0">All Posts</h1>


<div class="container-padding">

    <div style="margin: 0 auto; text-align: center;">
      <input type="text" id="search-input" placeholder="Filter results" oninput="searchInputChanged()">
      <span id="search-results-text"></span>
    </div>
    <hr />
    <div id="list" class="row"></div>
</div>






<!-- all the code needed to do filtering for posts-->
<script>
  // HTML search field and results list container to manipulate later
  var searchElem = document.getElementById("search-input");
  var target = document.getElementById('list'); // target the ul list to render the results
  var searchResultsCountElement = document.getElementById('search-results-text');

  var posts; // store all posts data

  // grab full list of posts for the language in JSON format
  async function loadPosts() {

    // the default language "en" should not be used when getting JSON data
    // only other languages use that
    {{ $baseLanguage := .Site.Language.Lang }}
    {{ if eq $baseLanguage "en" }}
      {{ $baseLanguage = "" }}
    {{ end }}

      const response = await fetch('./{{ $baseLanguage }}/index.json');
      posts = await response.json();

      searchInputChanged(); // run the search change command. with being empty...it will show everything on page load
  }
  loadPosts();


  function searchInputChanged() {

      // sanitize search results and abort if nothing is set
      var query = searchElem.value || ''; // get the value from input
      if (query === undefined) { 
          return; 
      }

      // look through all the posts and find titles that contain the search text
      const filteredItems = [];
      posts.items.forEach( post => {
          if(post.title === undefined) { return; } // post has no title

          // trim and make lower case to help with search mataching
          const postTitleLower = post.title.toLowerCase().trim();
          const queryLower = query.trim().toLowerCase();
          if(postTitleLower.includes(queryLower)) {
              filteredItems.push(post);
          }
      });
      
      // show the search results in the HTML
      if(filteredItems.length > 0) {
          // take the items and built out what our HTML will be
          let exportedHTML = '';
          const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };

          filteredItems.forEach( item => {

              exportedHTML +=  `
             
                <a class="col-md-4 result" href="${item.url}">

                  <article class="results-card" >
                    <span class="section">
                        <h2>${item.title}</h2>
                        <time> ${ item.publishDate }</time>
                        <p>${ item.synopsis }</p>
                        <div style="color: #4ec3d8;">Read more</div>
                    </span>
                  </article>
                </a>

              `;
          });

          target.innerHTML = exportedHTML; // put the generated HTML on the results HTML element

      } else {
          // no search results
          target.innerHTML = `<h2 style="text-align:center; margin-top: 2rem; color: grey">No search results found</h2>`;
      }

        // update the search results text on the UI
        const postsText = filteredItems.length === 1 ? 'post' : 'posts';
        searchResultsCountElement.innerHTML = filteredItems.length.toString() + ' ' + postsText; 

};
</script>


{{ partial "footer.html" . }}
