{{ partial "header.html" . }}

<div class="post">
    <h1 style="margin-bottom: 0.5rem">{{ .Title }}</h1>

    <div style="text-align: center; margin-bottom: 2rem;">
        <span>{{ .Date | time.Format ":date_long" }}</span> 
        <span class="vertical-divider">|</span>
        <span> Reading time: <em>{{ .ReadingTime }} min</em></span> 
    </div>

    {{ .Content }}
</div>


{{ partial "footer.html" . }}
