{{ partial "header.html" . }}

<style>
    .transaction-container {
        font-size: 1.25rem;
        padding: 1rem;
        background: white;
    }

    .donation-thank-you {
        border: 15px solid #b1ecff;
        padding: 0;
        margin-top: 4rem;
        max-width: 65rem;
        margin: auto;
        margin-top: 4rem;
        background: #d1f1ff;
        border-radius: 3px;
    }

    .donation-thank-you h1,
    .donation-thank-you p,
    .donation-thank-you a,
    .donation-thank-you strong
     {
      text-align: center;
    }


</style>



<div  class="container-padding">


    <div class="donation-thank-you row">


        <div class="col-md-6" style="padding: 0">
            <img src="images/one-time-donations/hero-image.jpg" />
            <div class="hero-credits">
                <div style="text-align: center">
                    Art by 
                    <a href="https://www.instagram.com/michelepetrelliart/" target="_blank">MPetrelli</a>
                </div>
               
            </div >
               
        </div>

        <div class="col-md-6" style="padding: 3rem;">
         
            {{ .Content }}
        
            <p class="transaction-container">
                <strong>Transaction ID:</strong>
                <span id="transactionId"></span>
            </p>
            
    
            <p>If there are issues with your donation, you can share this transaction ID with use to help us know exactly which donation was yours. </p>
    
            <p>
                <a class="button pointer" href="{{ .Site.BaseURL }}">Back to website</a>
            </p>
        </div>

        

    </div>

   
</div>


<script>
    // get query string value. Proxy is a newer, and faster javascript method to do this
    const query_parameters = new Proxy(new URLSearchParams(window.location.search), {
        get: (searchParams, prop) => searchParams.get(prop),
    });

   // grab the query string parameter and show it for people 
   const transaction_element = document.querySelector("#transactionId");
   transaction_element.innerHTML = query_parameters.transactionId;
</script>


{{ partial "footer.html" . }}