@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mulish&family=Roboto+Slab:wght@300&display=swap');


/* LAYOUT */

* {
  font-family: 'Mulish', sans-serif;
  color: #403f58;
}

audio {
  display: block;
  width: 100%;
}

figure {
  text-align: center;
}
figcaption {
  margin: 0.5rem;
  font-style: italic;
}

body {
  margin: 0;
}

h1, h2, h3, h4 {
  font-weight: normal;
  margin-bottom: 0.5rem;
  font-family: 'Roboto Slab', sans-serif;
  line-height: 120%;
  font-weight: bold;
}

h1 {
  font-size: 250%;
  text-align: center;
  margin-bottom: 2rem;
}

h2, h3 {
  margin: 1rem 0;
  margin-top: 3rem;
  font-size: 160%;
}

h3 {
  font-size: 140%;
}

h4 {
  font-size: 120%;
  font-weight: bold;
}

p {
  line-height: 141%;
}

ol, ul, li {
  line-height: 140%;
}

li {
  margin-bottom: 1rem;
}

a {
  color: #44a9c2;
}
a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

code, pre {
  color: white;
  line-height: 148%;
  padding: 0.5rem;
  border-radius: 5px;
  background: #4a5765;
  overflow: auto;
  margin: 0.5rem 0;
  display: block;
}



ul.main-menu {
  display: inline-block;
  margin: 0;
}
@media only screen and (max-width: 800px) {
  ul.main-menu {
   padding: 0;
  }
}


ul.main-menu li {
  list-style: none;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.3rem;
}
ul.main-menu li:hover {
  border-bottom: 4px solid #d6dbe0;
  color: #d6dbe0;
}
ul.main-menu li:hover a {
  color: #aeb5bd;
}

ul.main-menu li a {
  color: #48698b;
}
ul.main-menu li a.button {
  color: white;
}
ul.main-menu li.donate-button {
  border-bottom: 0 !important;
}
ul.main-menu li.active {
  border-bottom: 4px solid #48698b;
}

.max-content-width {
  margin: auto;
  max-width: 1200px;
}

nav.site-nav a {
  text-decoration: none;
}

.inline {
  display: inline-block;
}

.logo {
  font-size: 1.8rem;
  color: white;
}

.tabbed-section-container {
  padding: 0.5rem;
  background: #506782;
}
.tabbed-section-container a {
  color: #d9d9d9;
  text-decoration: none;
 }
 .tabbed-section-container a:hover {
  color: white;
 }

.container-padding {
  padding: 2rem;
  max-width: 1400px;
  margin: auto;
}

.dark {
  background: #253136;
}
.dark h2, .dark h3, .dark li, .dark p {
  color: white;
}


/* LISTS */

.thumbnail-container {
  width: 15rem;
  height: 15rem;
  box-shadow: 3px 3px 3px #868686;
  margin: auto;
}
@media only screen and (max-width: 800px) {
  .thumbnail-container {
    width: 100%;
    height: 230px;
    display: block;
    margin-bottom: 1rem;
  }
}


.post {
  margin: 0 19%;
  margin-top: 5rem;
}
@media only screen and (max-width: 800px) {
  .post {
    margin: 0 8%;
    margin-top: 5rem;
  }
}

.vertical-divider {
  color: #d4bfbf;
  font-weight: bold;
  margin: 0 0.25rem;
}



.posts-listing {
  display: grid;
  column-gap: 4%;
  margin: 0%;
}
.posts-listing a {
  color: black;
  font-weight: normal;
}
.posts-listing a:hover {
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .posts-listing {
    display: grid;
    grid-template-columns: 100%;
    column-gap: 1%;
  }

}

.post-snippet {
  padding: 2rem;

  border-radius: 3px;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 800px) {
  .post-snippet {
   padding: 1rem;
  }
}

.post-snippet h2 {
  margin-bottom: 0.25rem;
  margin-top: 0;
}

.post-snippet a {
  font-size: 1.5rem;
}

.card {
  text-decoration: none;
}
.card article {
  transition: all 0.2s ease-in;
}
.card article:hover {
  background: #f2f3f3;
}
.card article:hover h2 {
  text-decoration: underline;
}

.preview {
  display: grid;
  column-gap: 25px;
}
@media only screen and (max-width: 800px) {
  .preview {
    display: block;
  }

}


.section {
  grid-row: 1 / span 2;
}

section.news {
  padding: 1rem;
  background: white;
  transition: all 0.2s linear;
}
section.news .title {
  font-size: 120%;
}
section.news:hover .title {
  text-decoration: underline;
}
section.news:hover {
  background: #f1f1f1;
  border-radius: 3px;
}


section.news a {
  text-decoration: none;
  color: #4a4545;
  font-size: 100%;
  line-height: 120%;
}
section.news div {
  margin-bottom: 0.5rem;
}



/* button style (which is in an anchor tag for a link) */
a.button, .one-time-donate-button {
  text-decoration: none;
  background: -webkit-linear-gradient(top, #39a3f2 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #39a3f2 1%, #0078f9 100%);
  text-align: center;
  display: inline-block;
  font-size: 0.8rem;
  padding: 0.5rem 1.5rem;
  border-radius: 0.2em;
  border: 0;
  color: white;
  box-shadow: 2px 2px 3px #82aac7;
  text-transform: uppercase;
}
a.button:hover,
.one-time-donate-button:hover {
  background: -webkit-linear-gradient(top, #6bb9f5 1%, #0078f9 100%);
  background: linear-gradient(to bottom, #6bb9f5 1%, #0078f9 100%);
}


a.button.ghost {
  background: none;
  border: 2px solid #2cadc9;
  box-shadow: none;
  color: #2cadc9;
  margin-bottom: 1rem;
  margin-right: 0.5rem;
  transition: all 0.5s ease;
}
a.button.ghost:hover {
  border: 2px solid rgb(180, 240, 255);
}













/* These two classes help keep youtube video a 16:9 aspect ratio 
   The youtube embed code needs a wrapper. This code is used in the features template
*/
.video_wrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9, for an aspect ratio of 1:1 change to this value to 100% */ 
}
iframe{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}


/* homepage styles */
.homepage-hero-content {
  background: white;
  padding: 1rem;
  margin: 1rem;
  display: inline-block;
  max-width: 24rem;
  position: absolute;
  top: 10rem;
  right: 1rem;
}

.homepage-card {
  background: #eafaff;
  background: radial-gradient(circle, rgb(255 255 255) 30%, rgb(227 250 247) 100%);
  margin-bottom: 1rem;
  border: 1px solid #c7f0ff
}
.homepage-card h3 {
  margin-top: 0;
}
.homepage-card p {
  padding: 0;
  margin-bottom: 1rem;
  display: block;
}
.homepage-card a {
  margin: 0;

}
.homepage-card .hero {
  min-height: 22rem;
  background-size: cover;
  background-position: center;
}
.homepage-card .credit {
  color: white; 
  text-shadow: black; 
  position: relative;
  top: 87%; 
  text-shadow: 0px 0px 15px black;
}
.homepage-card .credit a {
  color: white; 
  text-decoration: none;
  margin: 0;
}
.homepage-card .credit a:hover {
   text-decoration: underline;
}
.homepage-card .content {
  padding: 3rem;
}

.full-width-panel {
  padding: 2rem;
  color: white;
  background: #324148;
  text-align: center;
  padding-bottom: 6rem;
}
.full-width-panel h2 {
  font-size: 3.5rem;
}
.full-width-panel p {
  color: white;
}

.hero-credits {
  background: #324148; 
  padding: 0.75rem; 
}
.hero-credits div, .hero-credits a {
  color: #bab8b8;
}

.hero-credits img {
  height: 20px;
}

.social-media .grow-container {
  width: 2rem;
  display: inline-block;
}

.social-media a {
  text-decoration: none;

	color: #ccc;
	display: inline-block;
  border-radius: 25%;
	transition: all 0.2s ease;
}

.social-media a:hover{
  background: rgb(83 91 96);
  animation: circle-anim 0.3s ease forwards;
	transition: all 0.4s ease;
}

@keyframes circle-anim{
	0% {
		
	}
	
	90%{
		padding: 0.35em;
		margin: -0.35em; 
	}
	
	100%{
		padding: 0.25em;
		margin: -0.25em; 
	}
}





/* footer styles */
footer {
  margin-top: 0;
  background: #324148;
  padding: 1rem;
}

footer p {
  color: #a8a5a5;
}

footer a {
  display: block;
  text-align: left;
  color: #91b3c3;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
  color: #91b3c3; 
}

footer h4 {
  text-align: left;
  color: white;
}

.footer-section {
  margin-bottom: 2rem;
}

#dropdownMenuLangauge {
  background: none;
  border: 1px solid grey;
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  color: white;
}