{{ partial "header.html" . }}

<div class="tabbed-section-container">
  <div class="max-content-width">
    {{ range where .Site.Pages "Params.Group" "about" }}
      <a href="{{ .Permalink }}">{{ .Title }}</a> &nbsp; &nbsp; &nbsp;
    {{ end }}
  </div>
</div>

<div class="post">
  {{ .Content }}
</div>

{{ partial "footer.html" . }}