<style>
    #cookies-message {
        position: fixed;
        width: 100%;
        bottom: 0px;
        background: #c6e9f3;
        padding: 0.75rem;
        color: #4e4e4e;
        text-align: center;
        box-shadow: 0 -1px 19px #343434;
    }

    #acceptCookieButton {
        border-radius: 5px;
        background: none;
        border: 1px solid black;
        margin: 0 1rem;
        padding: 0.25rem 1rem;
    }
    
</style>

<div id="cookies-message" style="display: none">
    This website uses cookies to learn about our site usage. If your browser is set to do not track mode we will not use statistics cookies.
    <button id="acceptCookieButton" >Got it</button>
</div>


<script>
    // This code is for the "do you accept cookies logic"
    // If the person does not have a cookie saved in their browser
    // the bottom banner will pop up

    // grab a cookie value by the name of name/value pair
    // you can access this from the web browser with 'document.cookie'
    function getCookieById(cookieId){
        var name = cookieId + "=";
        var decodedCookie = decodeURIComponent(document.cookie);
        var ca = decodedCookie.split(';');
        
        for(var i = 0; i < ca.length; i++){
            var c = ca[i];
            while(c.charAt(0) == ' '){
                c = c.substring(1);
            }
        
            if(c.indexOf(name) === 0) { 
                return c.substring(name.length, c.length);
            }
        }

        return "";
    }

    // run the following code when the page finishes loading the HTML
    // we do this to make sure the bottom banner is in memory and can be hidden if needed
    document.addEventListener('DOMContentLoaded', (event) => {
 
        // save DOM reference for HTML element for banner and the "ok" button inside it
        let acceptBannerHTML = document.querySelector("#cookies-message");
        let acceptCookieButton = document.querySelector("#acceptCookieButton");

        // show the cookie banner if we did not accept it
        if(getCookieById("acceptedKritaCookiesPolicy") !== 'true') {
            acceptBannerHTML.setAttribute('style','display: block');
        }

        // create and store cookie for 1 year if they press the "ok" button on the bottom banner
        acceptCookieButton.addEventListener('click', function(){
            var cookieDate = new Date();
            cookieDate.setFullYear(cookieDate.getFullYear()+1);
            document.cookie="acceptedKritaCookiesPolicy=true; expires=" + cookieDate.toGMTString() + ";";
            acceptBannerHTML.setAttribute('style','display: none'); // hide banner since we accepted
        });


    });
</script>