<!DOCTYPE html>
<html lang="{{ .Language }}">
<head>

	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<base href="{{ .Site.BaseURL }}">

	<title>{{ .Site.Title }}  {{ if not .IsHome }} | {{ .Title }} {{ end }}</title>

	<link href="css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />

	<link href="images/favicon.ico" rel="shortcut icon" type=image/vnd.microsoft.icon>

	<link rel="alternate" type="application/rss+xml" href="/index.xml" title="Site Title">

	<script src="js/popper.min.js" crossorigin="anonymous"></script>  	
	<script src="js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>  
		
	<!--TODO: PIWIK Code goes here -->
</head>

<body>

{{ partial "nav.html" . }}

<main class="content">
