<header class="site-header">

  {{- $currentPage := . -}}
  <nav class="site-nav max-content-width">
   <a class="logo" href="{{ .Site.BaseURL }}/{{.Site.Language.Lang}}">
      <img src="images/krita-logo.png" style="width: 7.5rem" />
    </a>

    <ul class="main-menu">
      {{ range .Site.Menus.main -}}
      <li class="{{ if eq $currentPage.LinkTitle .Name }}active{{ end }}">
          <a href="{{ .URL | absLangURL }}">{{ .Name }}</a>
      </li>
      {{- end }}

      <li class="donate-button">
        <a href="https://fund.krita.org" class="button">{{ i18n "donate" }}</a>
      </li>

     

  </ul>
  </nav>
</header>
