{{ partial "header.html" . }}

<div class="container-padding" style="text-align: center;">
    <h1 style="margin-top: 3rem">Nope. Not in here either... (404)</h1>
    <p>Either the page does not exist any more, or the web address was typed wrong.</p>
    <img src="images/404-image.gif" />


    
    <p><a href="{{.Site.BaseURL}}" class="button" style="margin-top: 4rem">Go back to the home page</a></p>
</div>


{{ partial "footer.html" . }}
